@media (max-width: 767px) {
	.woocommerce-order-received {
		table {
			&.customer_details {
				width: 100%;
			}
		}
		.addresses {
			.col-1,.col-2 {
				width: 100%;
				display: block;
			}
		}
	}
	#notifyBar {
		.btn {
			white-space: normal;
			width: 100%;
			left: 0;
			padding: 0 25px 0 15px;
			font-size: 12pt;
		}
		.notify-close {
			position: absolute;
			top: 0;
			right: 0;
			line-height: 70px;
		}
	}
	html {
		margin-top: 0 !important;
	}
	.widget_layered_nav {
		top: 0;
	}
	.page-template-page-brands,
	.page-template-page-home,
	.page-template-page-categories {
		overflow-y: visible;
	}
	#HomeFooter {
		position: relative;
		display: block;
		background: $LightBlue;
		color: #fff;
		margin: 10px 0 0 0;
		border-top: 2px solid #000;
		position: relative;
		z-index: 2;
		h3 {
			margin: 0;
		}
	}
	#MobileProductListing {
		li {
			min-height: 225px;
			margin:0 !important;
			h4 {
				display: none;
			}
		}
	}
	.mobile-home {
		h2 {
			margin: 50px 0 25px;
		}
	}
	#wrapper {
		z-index: inherit;
	}
	#header.visible-xs {
		position: fixed;
		height: auto;
		z-index: 999;
		top: 0;
		left: 0;
		background: none;
		margin: 0;
		width: 100%;
		#MobileLogo {
			position: relative;
			display: block;
			margin: 0 -2px 0 2px;
			.logo {
				width: 125px;
				height: auto;
				margin: 0 auto;
				display: block;
				position: absolute;
				z-index: 999;
				left: -35px;
				top: -25px;
				button {
					background: none;
					border: none;
					&:focus {
						outline: none;
					}
				}
				a {
					top: 0;
				}
			}
		}
		.navbar-collapse {
			padding: 0;
			max-height: 100%;
			margin: 0 0 -15px;
			#MobileDropdownNav {
				&.nav {
					background: darken($DarkBlue, 5%);
					padding: 0 15px 25px;
					li {
						margin: 0 -15px;
						padding: 0 15px;
						&:last-child {
							border-bottom: none;
						}
						&:first-child {
							border-top: none;
						}
						h3 {
							margin: 0 -15px;
							padding: 0 15px;
							border-bottom: 1px solid lighten($DarkBlue, 5%);
							font-size: 18px;
							a {
								text-decoration: none;
								display: block;
								border: none;
								line-height: 40px;
								padding: 0;
								i {
									float: right;
									color: lighten($DarkBlue, 10%);
									line-height: 40px;
								}
							}
							button{
								background: none;
								border: none;
								display: block;
								width: 100%;
								text-align: left;
								line-height: 40px;
								padding: 0;
								&:focus {
									outline: none;
								}
								i {
									float: right;
									color: lighten($DarkBlue, 10%);
									line-height: 40px;
								}
							}
						}
						&#Search {
							padding: 15px 15px 0;
							input {
								background: $DarkBlue;
								border: none;
								padding: 10px;
								height: 40px;
							}
							button {
								height: 40px !important;
								width: 65px;
								background: $LightBlue;
							}
						}
						a {
							padding: 5px 10px;
							color: $White;
							border-bottom: 1px solid $DarkBlue;
						}
						ul {
							background: lighten($DarkBlue, 5%);
							margin: 0 -15px;
							li {
								padding: 0;
								margin: 0;
								a {
									border: none;
									display: block;
									width: 100%;
									padding: 5px 15px;
									font-size: 14px;
									border-bottom: 1px solid $DarkBlue;
									color: darken($White, 25%);
									&:active {
										background: $DarkBlue;
									}
								}
							}
						}
					}
				}
			}
		}
		#MainMobileNav {
			background: $LightPurp;
			position: relative;
			top: 15px;
			margin: 0 0 15px;
			&.nav {
				li {
					vertical-align: middle;
					padding: 0 1px !important;
					a {
						font-size: 14px;
						&:hover {
							background: none;
						}
						&:active {
							background: $Purp;
						}
					}
					&#Cart {
						a {
							height: 58px;
							line-height: 18px;
							vertical-align: baseline;
							padding: 10px 0 0 0;
							text-align: center;
							color: $White;
						}
					}
					&#Menu {
						.nav-collapse {
							background: darken($Purp, 10%);
							line-height: 58px;
							padding: 0;
							text-align: center;
							color: $White;
							display: block;
							background: none;
							border: none;
							width: 100%;
							font-size: 14px;
							&.collapsed {
								background: none;
							}
							&:focus {
								outline: none;
							}
						}
					}
				}
			}
		}
	}
	ul.products {
		background: #fff;
		li {
			min-height: 225px;
			width: 50%;
			display: inline-block !important;
			margin: 0 0 0 -2px !important;
			.productinfo {
				padding: 0 0 15px;
				h4 {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 0 5px;
				}
			}
		}
	}
	#HomeCategories {
		margin: 15px auto 50px;
		.col-md-6 {
			margin: 15px 0;
		}
		#Or {
			top: 75px;
		}
	}
	#HomeTabs {
		ul {
			li {
				a {
					font-size: 18px;
				}
			}
		}
	}
	#HomePanes {
		.tab-content {
			.tab-pane {
				.carousel {
					.carousel-inner {
						.row {
							ul.options {
								li {
									min-height: 200px !important;
								}
							}
						}
					}
				}
			}
		}
	}
	#HomePost {
		margin: 25px auto;
		h2 {
			margin: 0 -15px 25px;
			font-size: 18px;
		}
		.PostWrap {
			padding-top: 0;
			background: none;
			border: none;
			.post {
				background: $Purp;
				margin: 25px 0;
				.entry {
					.row {
						margin: 0 !important;
						.postcopy {
							padding: 15px;
						}
						.postimage {
							display: block;
							margin: 0 auto;
							padding: 0;
							float: none;
						}
					}
				}
				&:active {
					background: $LightPurp;
				}
			}
			&:hover {
				background: none;
			}
		}
		#VisitOurBlog {
			margin: 0 -15px;
		}
	}
	footer {
		padding: 0 15px;
		#payment {
			font-size: 24px;
			margin: 15px 0;
			img {
				margin: 15px 0 10px;
			}
		}
		#legal {
			padding: 0 0 25px;
		}
		h3 {
			padding: 0;
			margin: 0 -15px;
			button {
				background: none;
				border: none;
				display: block;
				width: 100%;
				text-align: left;
				padding: 15px;
				border-bottom: 1px solid lighten($LightBlue, 10%);
				&:focus {
					outline: none;
				}
				i {
					float: right;
					color: lighten($LightBlue, 10%);
				}
			}
		}
		#about5star {
			padding: 15px;
			background: lighten($LightBlue, 10%);
			margin: 0 -15px;
		}
		ul {
			background: lighten($LightBlue, 10%);
			margin: 0 -15px;
			li {
				&:first-child {
					a {
						border-top: none;
					}
				}
				a {
					padding: 15px;
					display: block;
					font-size: 14px;
					border-top: 1px solid $LightBlue;
					&:hover {
						margin: 0;
					}
					&:active {
						background: lighten($LightBlue, 5%);
					}
				}
			}
		}
	}
	.PageWrap, .cartwrap {
		margin: 0;
		min-height: 100px;
	}
	.page-template-page-cart {
		.cartwrap {
			margin: 0 15px;
			text-align: center;
		}
	}
	.woocommerce-checkout {
		.PageWrap {
			margin: 0;
			padding-top: 0;
		}
		#order_review_heading {
			margin: 15px 0;
		}
		.product-name {
			.col-md-8 {
				margin: 0;
			}
		}
	}
	#ProductDetails {
		.PurchaseWrap {
			padding: 15px;
			.col-xs-4 {
				padding-right: 0;
				input {
					height: 52px;
					line-height: 40px;
				}
			}
			.alert {
				margin: 15px 0 0;
				padding: 5px;
			}
		}
	}
	#RelatedProducts {
		li {
			width: 100% !important;
			.productinfo {
				h4 {
					display: block !important;
				}
			}
		}
	}
	.MainWrap {
		&#Vendors, &#Contact {
			.PageWrap {
				padding: 15px;
				margin: 0 15px;
			}
		}
		.cartwrap {
			padding: 0;
		}
	}
	.PageWrap {
		padding: 15px;
		min-height: 100px !important;
		margin: 0 15px;
		h2 {
			text-align: left;
			color: $Yellow;
			background: none;
			margin: 25px 0 15px;
		}
		&#FullWidth {
			padding: 10px;
		}
		.b_submit {
			float: none;
			display: block;
			width: 100%;
			margin: 15px 0 0;
		}
		&#Cart {
			padding: 15px;
			.productinfo {
				margin: 0;
				.price {
					text-align: left;
				}
			}
			.removeitem {
				i {
					font-size: 32px;
					color: $Red;
				}
			}
		}
	}
	#Shop {
		.woocommerce-pagination {
			ul {
				margin: 25px 0 0;
				padding: 0;
				li {
					a, span {
						line-height: 30px;
						min-height: 30px;
						min-width: 30px;
						&.next {
							position: relative;
							display: none;
						}
						&.prev {
							display: none;
						}
					}
				}
			}
		}
		.col-md-9 {
			padding-right: 0;
		}
	}
	#SingleProduct {
		.related {
			display: none;
		}
	}
	#ProductDetails {
		#content {
			margin: 0;
		}
		h1 {
			span {
				display: block;
				width: 80%;
				margin: 0 auto;
				line-height: 28px;
				&.amount {
					display: inline-block;
					width: auto;
				}
			}
		}
	}
	#RightSidebar {
		padding-left: 15px;
		margin-bottom: 0;
		margin-top: 15px;
		#sidebar {
			.widget {
				@include border-top-radius(0);
				@include border-bottom-radius(0);
				margin-bottom: 15px;
				&:last-child {
					margin: 0;
				}
				h3 {
					&:before {
						background: none;
					}
					border-top: none;
				}
				.description {
					h2 {
						background: none;
						text-align: left;
						color: $Purp !important;
					}
				}
				.RelatedProducts {
					padding: 25px 0;
					.related {
						ul {
							li.col-md-3 {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	.checkout {
		.CartTotal {
			.col-md-5{
				&#customer_details {
					padding: 0 15px 15px;
					margin: 15px;
					@include border-top-radius(5px);
					@include border-bottom-radius(5px);
						h3 {
						font-size: 18px;
						line-height: normal;
						margin: 0 -15px;
						&:before {
							background: none;
							display: none;
						}
					}
				}
			}
			.col-md-7 {
				margin: 0 15px;
			}
			#payment {
				label {
					display: inline-block;
					font-weight: normal;
					&.control-label {
						text-align: left;
					}
					&:hover {
						cursor: pointer;
					}
					img {
						display: inline-block;
						width: auto;
					}
				}
				.input-radio {
					vertical-align: top;
					margin-top: 5px;
				}
				.payment_method_stripe {
					#stripe-cc-form {
						.form-row {
							margin: 9px 0;
							input {
								display: block;
								width: 100%;
							}
							&.form-row-wide {
								display: block;
							}
							&.form-row-first {
								width: 50%;
								display: inline-block;
								padding: 0 5px 0 0;
								-webkit-box-sizing: border-box;
								   -moz-box-sizing: border-box;
										box-sizing: border-box;
							}
							&.form-row-last {
								width: 50%;
								display: inline-block;
								padding-left: 5px;
								-webkit-box-sizing: border-box;
								   -moz-box-sizing: border-box;
										box-sizing: border-box;
							}
						}
					}
				}
				.stripe_new_card {
					margin: 0 0 25px;
					.row {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	.woocommerce-cart {
		table {
			margin: 0;
			th {
				border: none;
			}
		}
	}
	#NotFound {
		.copy {
			width: 100%;
		}
	}
	#Shop {
		margin-top: 0;
		.PageWrap {
			margin: 0;
		}
	}
	#BrandListing {
		.PageWrap {
			padding: 15px;
			margin: 0;
			.row {
				margin: 0;
				ul {
					margin: 0;
					li {
						margin: 5px 0;
						&.col-md-3 {
							padding: 0 !important;
						}
						&:last-child {
							margin: 5px 0 0;
						}
						a {
							h3 {
								width: 100%;
							}
							img {
								&:active {
									opacity: 0.15;
								}
							}
						}
					}
				}
			}
		}
	}
	#sidebar {
		i, .widget_brand_nav, .widget_product_categories {
			display: none !important;
		}
	}
	.post-type-archive-product, .tax-product_brand, .tax-product_cat {
		#products {
			ul.products {
				li.type-product {
					padding: 5px;
					width: 50%;
				}
			}
		}
	}
  	#container {
  		margin-top: 125px;
  	}
  	.woocommerce-cart, .woocommerce-checkout {
  		.container {
  			margin-top: 125px;
  		}
  	}
  	.woocommerce-cart {
  		.cartwrap {
  			min-height: auto;
  		}
  	}
  	.woocommerce-checkout .PageWrap .checkout #customer_details,
  	.woocommerce-checkout .PageWrap #order_review {
  		width: 100%;
  	}
  	footer {
  		margin-top: 15px;
  		#menu-footer-menu {
  			li {
  				display: block;
	  			a {
	  				display: block;
	  				border: none;
	  				border-bottom: 1px solid darken($LightBlue, 5%);
	  				width: 100%;
	  			}
	  			&:first-child {
	  				a {
	  					border-top: 1px solid darken($LightBlue, 5%);
	  				}
	  			}
	  		}
  		}
  		#footerSocial {
  			margin-top: 15px;
  		}
  		#legal {
  			margin-top: 15px;
  		}
  		#weaccept {
  			margin: 15px auto;
  		}
  	}
  	#freeShipMessage {
  		@include transform(translate(0,125px));
  		text-align: center;
  		padding: 0 15px;
  		box-sizing: border-box;
  		color: white;
  	}
}
@media (max-width: 991px) {
	#RightSidebar {
		padding: 0 15px;
		#sidebar {
			.widget h3:before {
  				display: none;
  			}
  		}
  	}
}
@media (min-width: 991px) {
	.woocommerce #content div.product div.images, 
	.woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, 
	.woocommerce-page div.product div.images {
		width: 100%;
	}
	.post-type-archive-product, .tax-product_brand, .tax-product_cat {
		#products {
			ul.products {
				li.type-product {
					padding: 5px;
					width: 25%;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	.post-type-archive-product, .tax-product_brand, .tax-product_cat {
		#products {
			ul.products {
				li.type-product {
					padding: 5px;
					width: 20%;
				}
			}
		}
	}
}
@media (min-width: 1400px) {

}