.page-template-page-cart {
	.woocommerce-message {
		text-align: center;
		background: $Yellow;
	}
}
.woocommerce {
	box-sizing: border-box;
	.woocommerce-customer-details {
		box-sizing: border-box;
		.col2-set {
			margin-top: 0;
			box-sizing: border-box;
			.col-1, .col-2 {
				display: inline-block;
				width: 50%;
				vertical-align: top;
				box-sizing: border-box;
			}
			.col-1 {
				padding-right: 10px;
			}
			.col-2 {
				padding-left: 10px;
			}
		}
		address {
			padding: 15px;
			box-sizing: border-box;
			.woocommerce-customer-details--phone, 
			.woocommerce-customer-details--email {
				font-weight: bold;
				margin: 0;
				line-height: 30px;
			}
			.woocommerce-customer-details--phone {
				margin-top: 10px;
			}
		}
	}
	.woocommerce-Button, input.button {
		background: $LightBlue;
		color: #fff;
		border: none;
		font-family: "Fauna One", sans-serif;
		line-height: normal;
		height: auto !important;
		font-size: 18px;
		letter-spacing: 1px;
		line-height: 40px;
		&:hover {
			background: $Teal;
			color: white;
		}
	}
	a.button {
		background: $LightBlue;
		color: #fff;
		border: none;
		font-family: "Fauna One", sans-serif;
		line-height: normal;
		height: auto !important;
		font-size: 14px;
		padding: 10px;
		&:hover {
			background: $Teal;
			color: white;
		}
	}
	input {
		@include border-top-radius(0);
		@include border-bottom-radius(0);
		box-shadow: 0 0 0;
		border: 1px solid #ebebeb;
		line-height: 40px;
		font-size: 14px;
		&.select2-search__field {
			line-height: normal;
		}
		&:focus {
			outline: none;
		}
	}
	label {
		font-weight: normal;
		font-size: 8pt;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0;
	}
	form {
		h3 {
			margin-top: 0;
		}
		.form-row {
			input.input-text {
				@include border-top-radius(0);
				@include border-bottom-radius(0);
				box-shadow: 0 0 0;
				border: 1px solid #ebebeb;
				line-height: 30px;
				font-size: 14px;
				padding: 0 10px;
				box-sizing: border-box;
			}
		}
	}
	form.login, form.register {
		margin: 0;
		padding: 0;
		border: none;
	}
	legend {
		border: none;
		margin: 0;
		padding: 25px 0 5px;
	}
	#content div.product div.thumbnails a, 
	div.product div.thumbnails a  {
		float: none;
		width: auto;
		margin: 0;
	}
	button.button {
		background: $LightBlue !important;
		color: white !important;
		&:hover {
			background: $Teal !important;
			cursor: pointer;
		}
	}
	div.product {
		div.images {
			&.woocommerce-product-gallery {
				width: 70%;
				display: inline-block;
				text-align: center;
				.woocommerce-product-gallery__image {
					width: 100px;
					height: auto;
					margin: 10px 5px 5px;
					&:first-child {
						width: 100%;
						margin: 0;
					}
					a {
						display: block;
					}
				}
			}
		}
		div.summary {
			width: 30%;
			display: inline-block;
			box-sizing: border-box;
			padding: 0 25px;
			.price {
				font-size: 32pt;
				color: $Teal;
				margin: 25px 0 15px;
				text-align: center;
			}
			button {
				width: 100%;
			}
		}
	}
}
.woocommerce,
.woocommerce-page {
	ul.products {
		background: white;
		overflow: hidden;
		box-sizing: border-box;
		@include transition(all 1s ease-in-out);
		#temp_load {
			&:before {
				content:"";
				clear: both;
				float: none;
				display: block;
			}
			display: block;
			text-align: center;
			line-height: 80px;
			margin-top: 50px;
			i {
				font-size: 24pt;
				color: $DarkBlue;
			}
		}
		li.type-product, li.product {
			display: inline-block;
			position: relative;
			border-right: 1px solid #ebebeb;
			border-bottom: 1px solid #ebebeb;
			margin: 0;
			padding: 25px;
			width: 25%;
			box-sizing: border-box;
			opacity: 0;
			@include transform(translate(0,25px));
			@include transition(all 0.3s ease-in-out);
			&.first {
				clear: none !important;
			}
			&.load {
				opacity: 1;
				@include transform(translate(0,0));
				@include transition(all 0.3s ease-in-out);
			}
			&:last-child {
				border-right: none;
			}
			a {
				display: block;
				img {
					margin: 10px auto;
					display: block;
					width: auto;
					height: auto !important;
				}
				h2 {
					font-family: "Pathway Gothic One", sans-serif;
					font-size: 18px;
					line-height: normal;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					display: block;
					text-align: center;
					color: $Teal;
					font-weight: lighter;
					margin: 0;
					padding: 0;
					line-height: 30px;
				}
				.star-rating {
					display: none;
				}
				&:hover{
					text-decoration: none;
					color: $DarkBlue;
					h3 {
						color: $DarkBlue;
					}
				}
			}
			.button {
				text-align: center;
				display: block;
				margin: 5px auto 0;
				font-size: 10px;
				background: $LightBlue;
				color: #fff;
				width: 100px;
				letter-spacing: 1px;
				text-transform: uppercase;
				padding: 5px 10px;
				line-height: normal;
				&:hover {
					background: $Teal;
					color: #fff;
				}
			}
			span.onsale {
				position: absolute;
				top: 10px;
				left: 0;
				right: 0;
				min-height: auto;
				min-width: auto;
				line-height: normal;
				color: $Purp;
				background: none;
				padding: 0;
				margin: 0;
				@include border-top-radius(0);
				@include border-bottom-radius(0);
			}
			.woocommerce-loop-product__title {
				font-size: 18px;
			}
			.price {
				color: $Teal !important;
				font-size: 18pt !important;
				del {
					font-size: 12px;
				}
				ins {
					text-decoration: none;
				}
				.size {
					color: #000;
					font-size: 14px;
					font-family: "Fauna One", sans-serif;
				}
			}
		}
	}
}
.woocommerce-lost-password {
	.MainWrap {
		width: 400px;
		.lost_reset_password {
			margin: 0;
			p {
				width: 100%;
				float: none;
			}
		}
	}
}
.woocommerce-account {
	.MainWrap {
		background: white;
		box-sizing: border-box;
		padding: 25px;
		margin: 50px auto 0;
		display: block;
	}
	.lost_reset_password {
		margin-top: 15px;
		p {
			font-size: 14pt;
		}
	}
	.addresses {
		margin-top: 25px;
		.title {
			h3 {
				margin-top: 0;
			}
			.edit {
				background: $LightBlue;
				color: white;
				padding: 5px 10px;
			}
		}
	}
}
.woocommerce-MyAccount-navigation {
	ul {
		list-style: none;
		padding: 15px 0;
		margin: 0;
		background: $LightPurp;
		li {
			a {
				text-transform: uppercase;
				letter-spacing: 1px;
				line-height: 40px;
				font-size: 14px;
				color: white;
				padding: 0 25px;
				box-sizing: border-box;
				font-family: "Fauna One", sans-serif;
				&:hover {
					color: $Yellow;
				}
			}
			&.is-active {
				a {
					color: $Yellow;
				}
			}
		}
	}
}
.woocommerce-MyAccount-content {
	padding: 0 25px 25px;
	box-sizing: border-box;
	button {
		background: $LightBlue !important;
		color: #fff !important;
		font-family: "Fauna One", sans-serif !important;
		display: block;
		width: auto;
		text-align: center;
	}
}
.woocommerce-message {
	line-height: 40px;
	padding: 5px;
	a {
		padding: 5px;
	}
}
#content {
	margin: 0 15px;
	box-sizing: border-box;
	position: relative;
}
#shipping_method {
	margin: 0;
	padding: 0;
	list-style: none;
	input {
		display: inline-block;
		width: auto !important;
	}
}
.post-type-archive-product, .tax-product_brand, .tax-product_cat {
	.woocommerce-pagination {
		display: none;
	}
	#sidebar {
		text-align: center;
		margin-bottom: 15px;
	}
	.shop_table {
		th {
			text-transform: uppercase;
			text-align: center;
			border-bottom-width: 1px;
			&.product-name {
				text-align: left;
			}
		}
		td {
			text-align: center;
			&.product-name {
				text-align: left;
			}
			&.product-remove {
				a {
					font-size: 18pt;
					background: $Red;
					color: white;
					height: 35px;
					width: 35px;
					line-height: 35px;
					@include border-top-radius(50%);
					@include border-bottom-radius(50%);
					display: inline-block;
					text-align: center;
				}
			}
		}
	}
	#products {
		height: auto !important;
		ul.products {
			background: white;
			overflow: hidden;
			box-sizing: border-box;
			@include transition(all 1s ease-in-out);
			#temp_load {
				&:before {
					content:"";
					clear: both;
					float: none;
					display: block;
				}
				display: block;
				text-align: center;
				line-height: 80px;
				margin-top: 50px;
				i {
					font-size: 24pt;
					color: $DarkBlue;
				}
			}
			li.type-product {
				display: inline-block;
				position: relative;
				border-right: 1px solid #ebebeb;
				border-bottom: 1px solid #ebebeb;
				margin: 0;
				padding: 25px;
				width: 25%;
				box-sizing: border-box;
				opacity: 0;
				@include transform(translate(0,25px));
				@include transition(all 0.3s ease-in-out);
				&.load {
					opacity: 1;
					@include transform(translate(0,0));
					@include transition(all 0.3s ease-in-out);
				}
				&:last-child {
					border-right: none;
				}
				a {
					display: block;
					img {
						margin: 10px auto;
						display: block;
						width: auto;
						height: auto !important;
						max-height: 385px;
					}
					h2 {
						font-family: "Pathway Gothic One", sans-serif;
						font-size: 18px;
						line-height: normal;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						display: block;
						text-align: center;
						color: $Teal;
						font-weight: lighter;
						margin: 0;
						padding: 0;
						line-height: 30px;
					}
					.star-rating {
						display: none;
					}
					&:hover{
						text-decoration: none;
						color: $DarkBlue;
						h3 {
							color: $DarkBlue;
						}
					}
				}
				.button {
					text-align: center;
					display: block;
					margin: 5px auto 0;
					font-size: 10px;
					background: $LightBlue;
					color: #fff;
					width: 100px;
					letter-spacing: 1px;
					text-transform: uppercase;
					padding: 5px 10px;
					line-height: normal;
					&:hover {
						background: $Teal;
						color: #fff;
					}
				}
				span.onsale {
					position: absolute;
					top: 10px;
					left: 0;
					right: 0;
					min-height: auto;
					min-width: auto;
					line-height: normal;
					color: $Purp;
					background: none;
					padding: 0;
					margin: 0;
					@include border-top-radius(0);
					@include border-bottom-radius(0);
				}
				.price {
					color: $Teal;
					font-size: 18pt;
					del {
						font-size: 12px;
					}
					ins {
						text-decoration: none;
					}
					.size {
						color: #000;
						font-size: 14px;
						font-family: "Fauna One", sans-serif;
					}
				}
			}
		}
		.woocommerce-pagination {
			margin-top: 25px;
			ul {
				list-style: none;
				text-align: center;
				position: relative;
				margin: 15px 0;
				line-height: 40px;
				background: url(assets/img/teal-slanted.png) repeat-x scroll center;
				li {
					display: inline-block;
					text-align: center;
					span{
						font-weight: bold;
						color: #fff;
						background: $Teal;
						min-width: 25px;
						min-height: 25px;
						line-height: 25px;
						display: inline-block;
						border: 1px solid #000;
					}
					a {
						color: #fff;
						background: $Purp;
						min-width: 25px;
						min-height: 25px;
						line-height: 25px;
						display: inline-block;
						border: 1px solid $LightPurp;
						@include transition(all 0.2s ease-in-out);
						&:hover {
							background: $LightPurp;
							text-decoration: none;
							color: #fff;
							@include transition(all 0.2s ease-in-out);
						}
						&.prev {
							position: absolute;
							left: 0;
							top: 0;
							background: $Teal;
							font-family: "Sarina", sans-serif;
							font-size: 24px;
							padding: 5px 10px;
							border: 1px solid #000;
							display: block;
							color: #fff;
							&:hover {
								text-decoration: none;
								background: lighten($Teal, 5%);
								i {
									color: $Yellow;
								}
							}
						}
						&.next {
							position: absolute;
							right: 0;
							top: 0;
							background: $Teal;
							font-family: "Sarina", sans-serif;
							font-size: 24px;
							padding: 5px 10px;
							border: 1px solid #000;
							display: block;
							color: #fff;
							&:hover {
								text-decoration: none;
								background: lighten($Teal, 5%);
								i {
									color: $Yellow;
								}
							}
						}
					}
				}
			}
			
		}
	}
}
#rememberme {
	display: inline-block;
	width: auto;
	height: auto;
	margin-top: 15px;
}
.single-product {
	.PageWrap {
		padding: 0;
	}
	#wrapper {
		div.product {
			display: block;
			margin-top: 25px !important;
			background: white;
			width: 1200px;
			margin: 0 auto;
		}
	}
}
#sidebar {
	.fa-sliders {
		color: white;
		font-size: 21pt;
		vertical-align: top;
	}
	.widget {
		@include border-top-radius(0);
		@include border-bottom-radius(0);
		background: none;
		border: none;
		position: relative;
		z-index: 998;
		text-align: center;
		display: inline-block;
		width: auto;
		margin: 0 5px;
		.relatedProducts {
			box-sizing: border-box;
			padding: 50px 0;
			background: white;
			text-align: center;
			img {
				width: 200px;
				margin: 0 auto;
				display: block;
			}
			h3 {
				font-family: "Pathway Gothic One", sans-serif;
				font-size: 18px;
				line-height: normal;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				text-align: center;
				color: $Teal;
				font-weight: lighter;
				margin: 0;
				background: none;
				border: none;
			}
		}
		h3 {
			display: none;
		}
		select {
			height: 30px;
			width: auto;
			@include border-top-radius(0);
			@include border-bottom-radius(0);
			background: white;
			border: none;
		}
		&.widget_layered_nav {
			position: relative;
			width: auto;
			vertical-align: top;
			button {
				position: absolute;
				right: 0;
				top: 0;
				margin: 0;
				padding: 0 10px;
				line-height: 32px;
				background: $LightBlue;
				color: #fff;
				border: none;
				font-family: "Fauna One", sans-serif;
				height: auto !important;
				border-radius: 0 5px 5px 0;
				&:hover {
					background: $Teal;
					color: white;
					cursor: pointer;
				}
			}
			.select2-selection__rendered {
				padding: 0 50px 0 10px;
				box-sizing: border-box;
			}
		}
	}
}
.woocommerce-order-received {
	.woocommerce {
		padding: 25px;
		box-sizing: border-box;
		header {
			margin-top: 25px;
		}
	}
	h2 {
		color: $OffBlack !important;
	}
	table {
		width: 100%;
		th {
			padding: 5px;
			background: #ebebeb;
		}
		tfoot {
			th {
				text-align: right;
			}
		}
		tr {
			td {
				padding: 5px;
				border: 1px solid #ebebeb;
			}
		}
		&.customer_details {
			width: auto;
		}
	}
	.addresses {
		margin-top: 25px;
		.col-1 {
			margin-right: 15px;
		}
		.col-1, .col-2 {
			display: inline-block;
			background: #ebebeb;
			box-sizing: border-box;
			padding: 25px;
			header, address {
				margin: 0;
				text-align: left;
			}
			h3 {
				margin: 0 0 10px;
				font-size: 14pt;
				font-weight: bold;
			}
		}

	}
}

.woocommerce-cart {
	box-sizing: border-box;
	.cart-empty,
	.return-to-shop {
		text-align: center;
	}
	#sidebar {
		display: none;
	}
	.wc-proceed-to-checkout {
		a.checkout-button {
			text-align: center;
			display: block;
			position: relative;
			top: auto;
			left: auto;
			background: $LightBlue;
			color: white;
			border: none;
			box-shadow: none;
			text-transform: capitalize;
			font-family: "Fauna One", sans-serif;
			font-size: 14pt;
			line-height: 60px;
			padding: 0 15px;
			height: auto;
			margin-top: 15px;
			@include transform(translate(0,0));
			@include border-top-radius(0);
			@include border-bottom-radius(0);
			&:hover {
				color: white;
				background: $Teal;
				@include transition(all 0.3s ease-in-out);
			}
		}
	}
	.woocommerce-cart-form {
		box-sizing: border-box;
		width: 70%;
		display: inline-block;
		vertical-align: top;
		.shop_table {
			width: 100%;
			box-sizing: border-box;
			padding-right: 25px;
			margin-top: 25px;
			tr {
				margin: 10px 0 0;
				th, td {
					vertical-align: middle;
					border: 1px solid white;
				}
				&.woocommerce-cart-form__cart-item {
					td {
						border: 1px solid #ebebeb;
						margin: 1px;
						padding: 10px;
						&.product-price,
						&.product-quantity,
						&.product-subtotal {
							text-align: center !important;
						}
						&.product-subtotal {
							font-weight: bold;
						}
						&.product-remove {
							text-align: center;
							a {
								color: red;
								font-size: 24px;
								font-weight: bold;
							}
						}
						&.product-name {
							font-family: "Pathway Gothic One", sans-serif;
							font-size: 21px;
							text-align: center;
						}
						&.product-subtotal {
							.amount {
								font-weight: bold;
							}
						}
						&.product-thumbnail {
							padding: 0;
							width: 100px;
							a {
								display: block;
								margin: 0 auto;
							}
							img {
								max-width: 100px;
								height: auto;
								margin: 0 auto;
								display: block;
							}
						}
					}
				}
			}
			.actions {
				button[name="update_cart"] {
					display: none;
				}
			}
			.coupon {
				text-align: right;
				padding-top: 10px;
				label {
					display: none;
				}
				input {
					line-height: 40px;
					padding: 0 10px;
					box-sizing: border-box;
					vertical-align: top;
					font-size: 14px;
					@include transform(translate(5px,-1px));
				}
				button {
					font-size: 14px;
					padding: 0 15px;
					box-sizing: border-box;
					line-height: 40px;
					&:hover {
						cursor: pointer;
						background: $Teal;
					}
				}
			}
		}
	}
	.cart-collaterals {
		box-sizing: border-box;
		width: 30%;
		margin: 0 0 0 -5px;
		display: inline-block;
		.shop_table {
			width: 100%;
			tr {
				margin: 1px;
				th, td {
					vertical-align: middle;
					margin: 0;
					padding: 10px;
					width: 50%;
					background: #ebebeb;
					border: 1px solid white;
				}
				td[data-title="Total"] {
					font-size: 24px;
					color: $Teal;
				}
				.woocommerce-shipping-calculator {
					display: none;
				}
			}
		}
	}
}
.woocommerce-info {
	text-align: center;
	line-height: 40px;
}
.woocommerce-checkout {
	vertical-align: top;
	margin-top: 25px;
	#payment {
		margin-top: 15px;
		margin-bottom: 35px;
		.wc_payment_method {
			.input-radio {

			}
		}
		div.payment_box {
			p:last-child {
				margin: 0;
			}
			#wc-stripe-cc-form {
				border: none;
				box-sizing: border-box;
				padding: 0;
				label {
					color: $OffBlack;
					display: none;
				}
				.form-row {
					margin-bottom: 0;
					#stripe-card-element,
					#stripe-exp-element,
					#stripe-cvc-element {
						box-shadow: none;
						border: $OffBlack;
						iframe {
							height: 40px !important;
							line-height: 40px !important;
						}
						#ElementsApp {
							font-size: 24pt !important;
						}
					}
					&.form-row-first {
						width: 50%;
						display: inline-block;
						box-sizing: border-box;
					}
					&.form-row-last {
						width: 30%;
						display: inline-block;
					}
				}
			}
			#stripe-payment-data {
				p {
					&:first-child {
						line-height: 40px;
						background: $Teal;
						text-align: center;
						color: white;
						margin: 0;
						display: none;
					}
				}
			}
		}
		input {
			&#payment_method_stripe,
			&#payment_method_paypal {
				width: auto;
				margin-top: 15px;
			}
		}
		label {
			line-height: 25px;
			&[for="payment_method_paypal"] {
				img {
					display: none;
				}
			}
			&[for="payment_method_stripe"] {
				padding: 0 20px 0 25px !important;
			}
		}
	}
	.wrap {
		&#singlePage {
			.copy {
				width: 100%;
			}
			#sidebar {
				display: none;
			}
		}
	}
	#customer_details {
		width: 35%;
		display: inline-block;
		input {
			width: 100%;
			display: block;
		}
	}
	#order_review {
		width: 60%;
		display: inline-block;
		float: right;
		vertical-align: top;
		table {
			width: 100%;
			th,td {
				border: 1px solid #ebebeb;
				padding: 10px;
			}
			td.product-name {
				text-align: left;
			}
			.order-total {
				td {
					color: $Teal;
					font-size: 32px;
				}
			}
			.cart-subtotal,
			.shipping,
			.order-total {
				th {
					border: none;
				}
			}
		}
	}
	#order_review_heading {
		display: none;
	}
	.col2-set {
		.col-1, .col-2 {
			width: 100%;
		}
	}
	#customer_details {
		padding: 15px;
		background: darken($White, 5%);
		@include border-top-radius(5px);
		@include border-bottom-radius(5px);
		border: 1px solid darken($White, 10%);
		h3 {
			margin: 15px 0;
			&#ship-to-different-address {
				margin: 0;
			}
		}
		.woocommerce-billing-fields {
			h3 {
				margin-top: 0;
			}
		}
		p {
			margin: 0;
			label {
				font-weight: normal;
				margin: 0;
				font-size: 10px;
			}
			abbr {
				border: none;
			}
			input, select {
				margin: 0 0 5px;
				height: 40px;
			}
			strong {
				margin: 0 10px;
			}
		}
		.woocommerce-shipping-fields__field-wrapper {
			&:after {
				content: "";
				display: block;
				clear: both;
			}
		}
		.checkbox {
			text-align: center;
			margin: 0;
			line-height: 35px;
			color: $OffBlack;
			font-size: 12pt;
			font-weight: norma;
			letter-spacing: normal;
			@include border-top-radius(5px);
			@include border-bottom-radius(5px);
			&:hover {
				cursor: pointer;
			}
		}
		.form-row-first, .form-row-last {
			width: 49%;
		}
		.form-row {
			margin: 0;
			padding: 0;
			label {
				font-size: 8px;
				line-height: none;
				margin-top: 5px;
			}
			input {
				line-height: 32px;
				height: 32px;
				font-size: 12pt;
				box-sizing: border-box;
				padding: 5px;
				border-radius: 3px;
				margin: 0;
				&#billing_address_1,
				&#shipping_address_1 {
					margin-bottom: 3px;
				}
			}
			&#billing_city_field, &#billing_state_field, &#billing_postcode_field,
			&#shipping_city_field, &#shipping_state_field, &#shipping_postcode_field {
				width: 33%;
				display: inline-block;
				box-sizing: border-box;
				padding: 0 5px 0 0;
			}
			&#billing_address_1_field,
			&#shipping_address_1_field {
				margin-top: 10px;
			}
			&#billing_postcode_field {
				padding: 0;
			}
			&#billing_company_field, &#shipping_company_field {
				display: none;
			}
			&#billing_country_field, &#shipping_country_field {
				font-size: 12pt;
			}
			.select2-container {
				.select2-choice {
					line-height: 30px;
					font-size: 12pt;
				}
			}
			&.woocommerce-validated {
				input.input-text {
					border: 1px solid #69bf29;
				}
			} 
		}
	}
	.checkout {
		label {
			font-size: 10px;
			width: auto;
		}
		.woocommerce-billing-fields {
			box-sizing: border-box;
			h3 {
				margin: 0;
			}
		}
		.col-2 {
			margin: 25px -15px -15px;
			background: #fbfbfb;
			padding: 0 15px 15px;
			h3 {
				padding: 15px 0 5px;
				&#ship-to-different-address {
					text-align: center;
					float: none;
					line-height: 40px;
					margin: 0;
					&:hover {
						cursor: pointer;
					}
				}
				label.checkbox {
					text-transform: none;
					font-weight: bold;
					&:hover {
						cursor: pointer;
					}
				}
				#ship-to-different-address-checkbox {
					display: none;
				}
			}
		}
	}
	td.product-name {
		dl.variation {
			margin: 0;
			dt, dd {
				margin: 0;
				padding: 0;
				vertical-align: top;
				display: inline-block;
				float: none;
			}
			dd {
				p {
					margin: 0 0 0 5px;
					font-weight: bold;
				}
			}
		}
	}
	form.login {
		width: 400px;
		margin: 25px auto 50px;
		border: 1px solid #ebebeb;
		box-sizing: border-box;
		padding: 15px;
		.form-row {
			width: 100%;
			display: block;
			margin: 0 0 5px;
			input {
				vertical-align: middle;
				display: block;
				width: 100%;
			}
		}
		#rememberme {
			margin: 0;
		}
		.button {
			height: auto;
			vertical-align: middle;
			float: right;
			padding: 0 10px;
			margin-top: 10px;
			font-size: 14pt;
			letter-spacing: 1px;
		}
	}
	form.checkout_coupon {
		text-align: center;
		width: 400px;
		margin: 25px auto 50px;
		border: 1px solid #ebebeb;
		box-sizing: border-box;
		padding: 15px;
		p {
			width: auto;
			display: inline-block;
			float: none;
			vertical-align: top;
			margin: 0;
			line-height: 40px;
			display: block;
			input {
				width: 100%;
			}
		}
		.button {
			height: auto;
			vertical-align: middle;
			display: block;
			padding: 0 10px;
			font-size: 14px;
			letter-spacing: 1px;
			width: 100%;
			margin-top: 5px;
		}
	}
}